<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Signed Out" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="enter your message..">
            <input type="text" name="tag" placeholder="tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Send</button>
        </form>
    </div>
    
    <div>List of messages:</div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="find message by tag...">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Find</button>
    </form>

    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}
</body>
</html>